@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body{
    background-color: #F9F9F9;
}

.header{
    background-color: #EEEFF1;
    height: 700px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.nav{
    display: flex;
    gap: 46px;
    padding-top: 79px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}
.title h1{
    padding-top: 150px;
    font-size: 48px;
}
.text p{
    padding-top: 50px;
    font-size: 16px;
    width: 540px;
    color: #727272;
    line-height: 164%;
}
.type{
    padding-top: 60px;
}
button{
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

.about-me{
   width: 540px;
   height: 160px;
    margin: 150px auto;
}

.main-about-me h2 {
  text-align: center;
    font-size: 32px;
    color: #000000;
}
.span{
    text-align: center;
    font-size: 16px;
    color: #727272;
    line-height: 164%;
    padding-top: 40px;
}
.main-section{
    background-color: #34547A;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
.main-article{
    background-color: #EEEFF1;
    height: 1005px;
}

.article-title h2{
    text-align: center;
    font-size: 32px;
    color: #000000;
    padding-top: 110px;
}

.span-article{
    width: 540px;
    margin: 0 auto;
}

.span-article p{
    text-align: center;
    font-size: 16px;
    color: rgba(114, 114, 114, 1);
    line-height: 164%;
    padding-top: 40px;
}

.boss-main-image{
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.main-image{
    position: relative;
}

.image{
    width: 1110px;
    height: 600px;
    display: block;
}

.button-play{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.footer{
    background-color: #34547A;
    height: 150px;
}

.container-footer{
    padding-top: 50px;
    padding-left: 406px;
}

.footer-name h3{
  font-size: 22px;
    color: #FFFFFF;
}
.footer-content p{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 164%;
}