.section-container {
    background-color: #fffbfb;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #493131;
    overflow: auto;
}
.block {
    background-color: #b8a4a4;
    margin: 20px;
    height: 50px;
    max-width: 100px;
    border: 1px solid #d61f1f;
}
.test1 .left {
    float: left;
    width: calc(50% - 50px);
}
.right {
    float: right;
    width: calc(50% - 50px);
}
.test2 .second {
   float: left;
    width: calc(50% - 50px);
}
.third{
    float: right;
    width: calc(50% - 50px);
}
.test3 .left1 {
    float: left;
    width: calc(50% - 50px);
}
.right1 {
    float: right;
    width: calc(50% - 50px);
}
.right3{
    float: right;
    width: 100px;
}
.right2{
  float: right;
    width: 100px;
    background-color: #b8a4a4;
    margin: 20px;
    height: 120px;
    border: 1px solid #d61f1f;
}
.center-end{
    width: 100px;
    float: right;
    margin-right: calc(50% - 100px);
    margin-left: auto;
}
.center1{
 float: right;
    width: 100px;
    background-color: #b8a4a4;
    margin: 20px;
    height: 120px;
    border: 1px solid #d61f1f;
}




