.test{
    padding: 100px;
    margin: 100px;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

